<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>

    <header>
        <h1 class="home"><a href="index.html"><i class="fas fa-home"></i></a></h1>
        <div class="menu">
            <div class="dropdown">

                <i class="fas fa-bars"></i>
                <div class="dropdown__content">
                    <ul>
                        <li><a href="index.html">Portafolio</a></li>
                        <li><a href="../views/proyectos.html">Proyectos</a></li>
                        <!-- <li><a href="">Contacto</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </header>



    <section>
        <div class="perfil ">
            <div class="perfil__info ">
                <p>Hi</p>
                <h1>I'm </h1>
                <p>Programador Web</p>
                <div class="perfil__btn__info outer-shadow">
                    <p><a href="#about">Acerca de mi</a></p>
                </div>
            </div>

            <div class="perfil__img inner-shadow ">
                 <div class="img outer-shadow"> <img class="foto__perfil" src="../img/Perfil.jpg" alt=""> </div> 
            </div>
        </div>
    </section>

    <div class="animaciones__container">
        <div class="animacion">
            <circle></circle>`
        </div>
    </div>
    

    <section>
        <div class="about__main__container">
            <div id="about" class="about__container outer-shadow">
                <h2>Acerca de mi </h2>
                <div class="contenedor__flex">

                    <div class="informacion__container">
                        <h3 class="about__container__h3">Mi nombre es Manuel Pérez Ponce</h3>
                        <p>Egresado de la Universidad Interoamericana Para el Desarrollo Unid </p>
                        <div class="perfil__btn__info outer-shadow">
                            <p><a href="pdf/Manuel-Perez_CV-TA.pdf">DESCARGAR CV</a></p>
                        </div>
                    </div>
               
                    <div class="linea__tiempo">
                        <div class="tiempo_1">
                            <div class="linea__1__contenido">
                                <h3>2015-2016</h3>
                                <p>Participe en la olimpiada de informatica</p>
                            </div>
                        </div>
                        <div class="tiempo_2">
                            <div class="linea__2__contenido">
                                <h3>2021</h3>
                                <p>Realización de sistema web para</p>
                                <p>la CFE Peninsular SISE</p>
                            </div>
                        </div>
                        <div class="tiempo_3">
                            <div class="linea__1__contenido">
                                <h3>2021</h3>
                                <p>Egresado de la carrea en Software </p>
                                <p>y Sistemas Computacionales</p>
                            </div>
                        </div>
                      
                        <div class="linea"></div>
                    </div>

                </div>

            </div>
        </div>
    </section>


    <script src="https://kit.fontawesome.com/29bba9f48e.js" crossorigin="anonymous"></script>
</body>

</html>